
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* button */

  .button to buy {
    border: none; /* Remove borders */
    color: blue; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  .to buy {background-color: yellow;} /* yellow */
  .to buy:hover {background-color: white;}


/* side by side images for Cupcakes */
.cupcake1, cupcakechocolate,themecupcake{

  display: inline-block;
  
  }

